{% extends '_base.html' %}

{% block header_content %}
<header>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>{{ COPY.content.project_name|smarty }}</h1>
                <h2>{{ COPY.content.lorem_ipsum|smarty }}</h2>
            </div>
        </div>
    </div>
</header>
{% endblock %}


{% block content %}
<div class="row">
    <div class='col-md-12'>
        <form>
            <div class="form-group">
                <label>Image File:</label>
                <input type="file" id="imageLoader" name="imageLoader"/>
            </div>
            <div class="form-group">
                <label>Source: </label>
                <input type="text" class="form-control" id="source" name="source">
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="canvas">
            <canvas id="imageCanvas"></canvas>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <button class="btn btn-primary save-btn" download="download.png">Save</button>
    </div>
</div>

{% endblock %}


{% block wide_content %}
{% endblock %}