{% extends '_base.html' %}

{% block header_content %}
<header>
    <div class="header-wrapper">
        <h1>Watermarker</h1>
        <a class="toolkit-link" href="http://tools.apps.npr.org">
            <span class="logo"><img src="http://media.npr.org/chrome/news/nprlogo_138x46.gif" alt="NPR" /></span>
            Newsroom Toolkit
        </a>
    </div>
</header>
{% endblock %}


{% block content %}
<div class="wrapper">
    <div class="canvas-wrapper">
        <div class="canvas-cell">
            <canvas id="imageCanvas"></canvas>
        </div>
    </div>
    <div class="editor">
        <form>
            <div class="form-group">
                <label class="control-label">Image File:</label>
                <input type="file" id="imageLoader" name="imageLoader"/>
            </div>
            <div class="form-group">
                <label class="control-label">Source:</label>
                <input type="text" class="form-control" id="source" name="source">
            </div>
            <div class="form-group">
                <label class="control-label">Text color:</label>
                <div class="radios ">
                    <div class="radio">
                        <label>
                            <input type="radio" name="textColor" id="whiteText" value="white" checked>
                            White text
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="textColor" id="blackText" value="black">
                            Black text
                        </label>
                    </div>
                </div>
                <button class="btn btn-primary save-btn" download="download.png">Save</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}


{% block wide_content %}
{% endblock %}