#adhesion {
  position: fixed;
  bottom: 0;
  left: 0;
  /* Added for testing - DD. Guess: it's cuz of bootstrap */
  width: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  z-index: 1000;
}
#adhesion .adhesionWrapper {
  width: 100%;
  position: fixed;
  bottom: 0;
}
#adhesion img {
  width: 100%;
  -webkit-transition: all 0.3s ease-in-out;
}
#adhesion #adhesionClose {
  float: right;
}
#adhesion #adhesionClose img {
  width: 33px;
  float: right;
}
#adhesion .expand {
  background: black;
  -webkit-transition: all 0.3s ease-in-out;
}
#adhesion .expand img {
  bottom: 50%;
  -webkit-transition: all 0.3s ease-in-out;
}
@media only screen and (min-width: 1025px) {
  #adhesion {
    display: none;
  }
}
