.comments-container h2,
.comments-container h5 {
  font-weight: bold;
  color: #333333;
  margin-bottom: 24px;
}
.comments-container h2 {
  font-size: 22px;
}
.comments-container h3 {
  font-size: 22px;
  color: #999999;
}
.comments-container p small,
.comments-container .comment-terms {
  font-size: 15px;
  line-height: 1.5;
}
.comments-container.comments-panel {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 200;
  overflow: auto;
  padding: 15px;
  max-width: 600px;
  background: #fff;
  width: 100%;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transform: translate(100%, 0);
  -moz-transform: translate(100%, 0);
  -ms-transform: translate(100%, 0);
  -o-transform: translate(100%, 0);
  transform: translate(100%, 0);
}
.comments-container.comments-panel.show {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
}
@media screen and (min-width: 768px) {
  .comments-container.comments-panel {
    width: 50%;
    padding: 30px;
  }
}
.comments-container.comments-panel .comments-close {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 36px;
  height: 36px;
  background: #999999;
  line-height: 36px;
  text-align: center;
}
.comments-container.comments-panel .comments-close:after {
  content: "\00d7";
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  position: relative;
  top: -3px;
}
.touch .comments-container.comments-panel .comments-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
}
.touch .comments-container.comments-panel .comments-close:after {
  font-size: 36px;
}
.comments-container.fullpage {
  max-width: 600px;
  margin: 0 auto;
  padding: 15px;
}
.comments-container.fullpage > .back {
  color: #999999;
  font-family: "Gotham SSm", "Gotham SSm", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
@media screen and (min-width: 768px) {
  .comments-container.fullpage > .back {
    position: absolute;
    left: 0;
    top: 35px;
    margin-left: 15px;
  }
}
.comments-container.fullpage .npr-logo {
  width: 60px;
}
.comments-container.fullpage > h2 {
  line-height: 20px;
}
.comments-container.fullpage > h1 {
  font-family: "Gotham SSm", "Gotham SSm", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 24px;
}
.comments-container.fullpage > h1 a {
  color: #333333;
}
